  <div id="pudelka" class="transitions-enabled">
    <div class="pudelko">
      <% if @actual_elections.present? %>
      <div class="page-header">
        <h3 class="text-center">Aktualnie trwające wybory:</h3>
        <h5 class="text-center"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Przystąp do głosowania.</h5>
      </div>
      <div id="elections" class="transitions-enabled">
        <% @actual_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <div class="overlay">
                    <div class="inoverlay">
                      <% if user_signed_in? && election.election_users.where("user_id = ?", current_user.id).present? %>
                          <%= link_to 'Zagłosuj', vote_path(election), :class => "btn btn-success" %>
                      <% elsif user_signed_in? %>
                          <!--<p class="bg-warning">Nie możesz wziąć udziału w tym głosowaniu</p>-->
                          <%= link_to "Nie możesz wziąć udziału w tym głosowaniu", '/', :class => 'btn btn-danger' %>
                    <% else %>
                          <%= link_to "Zaloguj się, aby głosować", '#', data: { :toggle => "modal", :target => "#loginModal" }, :class => 'btn btn-warning' %>
                      <% end %>
                    </div>
                  </div>
                  <h4 class="text-success"><%= election.election_type.name %></h4>
                </div>
                <div class="panel-footer">
                  Rozpoczęte: <%= election.start.strftime('%d.%m.%Y o godzinie %H:%M') %><br/>
                  Trwają do: <%= election.stop.strftime('%d.%m.%Y o godzinie %H:%M') %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
      <div class="page-header">
        <h3 class="text-center">Aktualnie nie odbywają się żadne wybory</h3>
      </div>
      <% end %>
    </div>
    <div class="pudelko">
      <% if @past_elections.present? %>
      <div class="page-header">
        <h3 class="text-center">Zakończone wybory:</h3>
        <h5 class="text-center"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Sprawdż wyniki.</h5>
      </div>
      <div id="elections  " class="transitions-enabled">
        <% @past_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <div class="overlay">
                    <div class="inoverlay">
                      <%= link_to 'Wyniki', result_path(election), :class => "btn btn-warning" %>
                    </div>
                  </div>
                  <h4 class="text-warning"><%= election.election_type.name %></h4>
                </div>
                <div class="panel-footer">
                  Zostały zakończone: <%= election.stop.strftime('%d.%m.%Y o godzinie %H:%M') %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
      <div class="page-header">
        <h3 class="text-center">Brak informacji o zakończonych wyborach</h3>
      </div>
      <% end %>
    </div>
    <div class="pudelko">
      <% if @future_elections.present? %>
      <div class="page-header">
        <h3 class="text-center">Przyszłe wybory:</h3>
        <h5 class="text-center"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Sprawdź dodatkowe informacje.</h5>
      </div>

      <div id="elections" class="transitions-enabled">
        <% @future_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <div class="overlay">
                    <div class="inoverlay">
                      <%= link_to 'Informacje', information_path(election), :class => "btn btn-primary" %>
                    </div>
                  </div>
                  <h4 class="text-primary"><%= election.election_type.name %></h4>
                </div>
                <div class="panel-footer">
                  Rozpoczynają się: <%= election.start.strftime('%d.%m.%Y o godzinie %H:%M') %><br/>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <% else %>
      <div class="page-header">
        <h3 class="text-center">Brak nadchodzących wyborów</h3>
      </div>
      <% end %>
    </div>
  </div>
