<div class="page-header">
  <h1>Aplikacja wybory - strona głowna</h1>
  <h2>Tutaj widzsz aktualnie trwające wybory:</h2>
</div>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Początek</th>
      <th>Koniec</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @elections) do |election| %>
        <td><%= election.name %></td>
        <td><%= election.start.strftime('%d/%m/%Y o godzinie %H:%M') %></td>
        <td><%= election.end.strftime('%d/%m/%Y o godzinie %H:%M') %></td>

        <% if user_signed_in? && election.election_users.where("user_id = ?", current_user.id).present? %>
            <td><%= link_to 'Zagłosuj', vote_path(election) %></td>
        <% elsif user_signed_in? %>
            <td>nie możesz głosować</td>
        <% else %>
            <td></td>
        <% end %>

    <% end %>
    </tbody>
  </table>
</div>
