<div class="jumbotron">
  <div class="page-header">
    <h3><%= t "welcome.title" %></h3>
  </div>
</div>

<div id="votes" class="transitions-enabled">
  <% @elections.each do |election| %>
      <div class="box">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-success"><%= election.name %></h4>
            <% if user_signed_in? && election.election_users.where("user_id = ?", current_user.id).present? %>
                <%= link_to 'Zagłosuj', vote_path(election) %>
            <% elsif user_signed_in? %>
                <p class="bg-warning">Nie możesz wziąć udziału w tym głosowaniu</p>
            <% end %>
          </div>
          <div class="panel-body">
            <p class="bg-success">Rodzaj wyborów:</p>
            <%= election.election_type.name %>
          </div>
          <div class="panel-footer">
            Rozpoczęcie: <%= election.start.strftime('%d/%m/%Y o godzinie %H:%M') %><br/>
            Zakończenie: <%= election.end.strftime('%d/%m/%Y o godzinie %H:%M') %>
          </div>
        </div>
      </div>
  <% end %>
</div>
