<div class="container-fluid">
  <div id="pudelka" class="transitions-enabled">
    <div class="pudelko">
      <div class="page-header">
        <h3>Aktualnie trwające wybory:</h3>
        <h5>Przystąp do głosowania.</h5>
      </div>
      <div id="elections" class="transitions-enabled">
        <% @actual_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <h4 class="text-success"><%= election.election_type.name %></h4>
                  <% if user_signed_in? && election.election_users.where("user_id = ?", current_user.id).present? %>
                      <%= link_to 'Zagłosuj', vote_path(election), :class => "btn btn-success" %>
                  <% elsif user_signed_in? %>
                      <p class="bg-warning">Nie możesz wziąć udziału w tym głosowaniu</p>
                  <% else %>
                      <p class="bg-warning"><strong><%= link_to "Zaloguj się", '#', data: { :toggle => "modal", :target => "#loginModal" }, :class => 'text-success' %></strong>, aby sprawdzić czy możesz wziąć udział w tym głosowaniu.</p>
                  <% end %>
                </div>
                <div class="panel-footer">
                  Rozpoczęte: <%= election.start.strftime('%d.%m.%Y o godzinie %H:%M') %><br/>
                  Trwają do: <%= election.end.strftime('%d.%m.%Y o godzinie %H:%M') %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="pudelko">
      <div class="page-header">
        <h3>Zakończone wybory:</h3>
        <h5>Sprawdż wyniki.</h5>
      </div>
      <div id="elections  " class="transitions-enabled">
        <% @past_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <h4 class="text-warning"><%= election.election_type.name %></h4>
                  <%= link_to 'Wyniki', vote_path(election), :class => "btn btn-warning" %>
                </div>
                <div class="panel-footer">
                  Zostały zakończone: <%= election.end.strftime('%d.%m.%Y o godzinie %H:%M') %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <div class="pudelko">
      <div class="page-header">
        <h3>Przyszłe wybory:</h3>
        <h5>Sprawdź dodatkowe informacje.</h5>
      </div>

      <div id="elections" class="transitions-enabled">
        <% @future_elections.each do |election| %>
            <div class="box">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <%= election.name %>
                </div>
                <div class="panel-body">
                  <h4 class="text-primary"><%= election.election_type.name %></h4>
                  <%= link_to 'Informacje', vote_path(election), :class => "btn btn-primary" %>
                </div>
                <div class="panel-footer">
                  Rozpoczynają się: <%= election.start.strftime('%d.%m.%Y o godzinie %H:%M') %><br/>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>