<%= form_for(@election, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @election.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@election.errors.count, "error") %> prohibited this election from being saved:</h4>

      <ul>
      <% @election.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nazwa", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", placeholder: "Nazwa wyborów" %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :election_type_id, "Typ", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :election_type_id, options_for_select(ElectionType.all.map{|s|[s.name, s.id]}) %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :info, "Dodatkowe informacje", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :info, class: "form-control", placeholder: "Dodatkowe informacje"  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start, "Start", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :start, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :stop, "Koniec", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :stop, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :max_votes, "Max ilość głosów", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :max_votes, class: "form-control", placeholder: "Maksymalna ilość głosów"  %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Zapisz", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
